<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Nate's Wiki</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Nate's Wiki
  </a>

  <div class="login-area">
    {% if user %}
      <a class=edit-link" href="{{post_id}}" method="{{get_post}}">{{edit_view}} |</a>
      <a class=edit-link" href="/_history">history</a>
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      

      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>


</body>

</html>

